* {
    font-family: Arial, sans-serif;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 15px;
    font-size: 13px;
}

.nav-gmail,
.nav-images,
.nav-photo,
.nav-apps {
    margin-left: 20px;
}

.nav-gmail,
.nav-images {
    margin-top: 7px;
}

.nav-apps {
    margin-top: 4px;
    margin-left: 30px;
}

.apps-icon:hover {
    box-shadow: grey;
}

.nav-apps-class {
    text-decoration: none;
    color: grey;
}

.nav-apps-class:hover {
    cursor: pointer;
}

#gmail-link,
#images-link {
    text-decoration: none;
    color: black;
}

#gmail-link:hover,
#images-link:hover {
    text-decoration: underline;
}

#zoosh-photo {
    width: 30px;
    border-radius: 50%;
}

#zoosh-photo:hover {
    cursor: pointer;
}

.main-center-piece {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.search-bar {
    display: flex;
    position: relative;
    min-width: 100px;
    order: 2;
    position: absolute;
    top: 30%;
    background: white;
    height: 30px;
    border: 1px solid grey;
    border-color: grey;
    border-width: 0.4px;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.search-bar:hover>.search-txt {}

#search-btn {
    color: #fcbc04;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #34ac54;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt {
    border: none;
    background: transparent;
    color: rgba(0, 0, 0, .87);
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 350px;
}

.twin-btns {
    margin-top: 130px;
    justify-content: center;
    align-items: center;
    font-family: roboto;
}

.btn-twin {
    margin-left: 10px;
    box-shadow: none;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    opacity: 70%;
}

.btn-twin:hover {
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #efefef;
    color: black;
    opacity: 70%;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.left-side-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.left-foot {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    opacity: 70%;
}

.right-side-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 200px;
}

.right-foot {
    margin-left: 10px;
    text-decoration: none;
    color: black;
    opacity: 70%;
}

.right-foot:hover,
.left-foot:hover {
    cursor: pointer;
}