* {
    font-family: Arial, sans-serif;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 15px;
    font-size: 13px;
}

.nav-gmail,
.nav-images,
.nav-photo,
.nav-apps {
    margin-left: 20px;
}

.nav-gmail,
.nav-images {
    margin-top: 7px;
}

.nav-apps {
    margin-top: 4px;
    margin-left: 30px;
}

.apps-icon:hover {
    box-shadow: grey;
    opacity: 0.85;
}

.nav-apps-class {
    text-decoration: none;
    color: grey;
}

.nav-apps-class:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

#zoosh-photo {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

#zoosh-photo:hover {
    cursor: pointer;
}

.main-center-piece {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
}

.logo-img {
    margin-bottom: 3rem;
}

.search-bar {
    display: flex;
    order: 2;
    background: white;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 584px;
    min-width: 100px;
    border: 0.1px solid #ddd;
    position: absolute;
    top: 29%;
    margin: 0 auto;
    border-radius: 30px;
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
}

.search-bar:hover {
    border-color: white;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

#search-btn {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    margin-right: 5px;
    margin-left: 5px;
}

.search-txt {
    display: flex;
    flex: 100%;
    border: none;
    background: transparent;
    color: rgba(0, 0, 0, .87);
    outline: none;
    word-wrap: break-word;
    float: left;
    padding: 0;
    font-size: 16px;
    line-height: 40px;
    width: 350px;
    height: 34px;
}

.twin-btns {
    display: flex;
    margin-top: 2.4rem;
    justify-content: center;
    align-items: center;
}

.btn-twin {
    margin-left: 10px;
    height: 36px;
    min-width: 54px;
    border: 1px solid transparent;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 70%;
    border-radius: 5px;
    background-color: #f8f9fa;
}

.btn-twin:hover {
    cursor: pointer;
    border-color: #dadce0;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    color: #70757a;
    font-size: 14px;
    height: 40px;
    padding: 5px;
}

.left-side-footer,
.right-side-footer {
    display: flex;
}

.left-foot {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    opacity: 70%;
}

.right-side-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
}

.footer-element {
    display: block;
    padding: 5px 0 5px 15px;
}

.right-foot {
    margin-left: 10px;
    text-decoration: none;
    color: black;
    opacity: 70%;
}

.right-foot:hover,
.left-foot:hover {
    cursor: pointer;
}